@namespace ChrisMavrommatis.Blazor.Materialize.Components

<div class="card @Color">
    @if (this.ImageContent is not null)
    {
        <div class="card-image">
            @this.ImageContent
        </div>
    }
    <div class="card-content">
        <span class="card-title">@this.Title</span>
        @this.ChildContent
    </div>
    @if (this.ActionContent is not null)
    {
        <div class="card-action">
            @this.ActionContent
        </div>
    }
</div>
