@namespace ChrisMavrommatis.Blazor.Materialize.Components

@inherits MaterializeComponentBase

<nav class="@_classes" @attributes=_attributes>
    <div class="nav-wrapper @WrapperClasses">
        <div class="col s12">
            @foreach (var item in this.items.OrderBy(x => x.Order))
            {
                <a href="@item.Link" class="breadcrumb">
                    @item.Title
                    @if (!string.IsNullOrWhiteSpace(item.Icon))
                    {
                        <i class="material-icons">@item.Icon</i>
                    }
                </a>
            }
        </div>
    </div>
</nav>
