<footer class="page-footer orange lighten-3">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l4">
                <h5>About @Binacle.Net.Api.Metadata.Name</h5>
                <p>@Binacle.Net.Api.Metadata.Description</p>
            </div>
            <div class="col s12 m6 l4">
                <h5>Help @Binacle.Net.Api.Metadata.Name</h5>

                <p>
                    Its an open source project that aims to remain open source and free forever.
                </p>
                <p>
                    Help it grow, visit the <a href="@Binacle.Net.Api.Metadata.GitHub">Github</a> and give it a star.
                </p>
            </div>
            <div class="col s12 m12 l4">
	            <ul>
		            @foreach (var badge in this.Badges)
		            {
			            <li class="m-1">
				            @if (!string.IsNullOrEmpty(badge.Url))
				            {
					            <a href="@badge.Url">
						            <img alt="@badge.Name" src="@badge.Image">
					            </a>
				            }
				            else
				            {
					            <img alt="@badge.Name" src="@badge.Image">
				            }
			            </li>
		            }
	            </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright orange accent-3">
        <div class="container">
            <div class="row">
                <div class="col s6 valign-wrapper grey-text text-darken-3">
                    © 2023-@DateTime.Now.Year Chris Mavrommatis / @Binacle.Net.Api.Metadata.Name. All Rights Reserved
                </div>
                <div class="col s6">
                    <a class="right grey-text text-darken-3" href="@($"{@Binacle.Net.Api.Metadata.GitHub}/blob/main/LICENSE")">
	                    @Binacle.Net.Api.Metadata.License
                    </a>
                </div>
            </div>

        </div>
    </div>
</footer>
