<footer class="responsive max secondary-container">
	<div class="grid">
		@foreach (var (title, contents) in ArticleContents)
		{
			<article class="s12 m6 l4 transparent">
				<h5>@title</h5>
				@foreach (var content in contents)
				{
					<p>
						@((MarkupString)content)
					</p>
				}
			</article>
		}
		<article class="s12 m12 l4 transparent">
			<div class="grid no-space">
				@foreach (var badge in this.Badges())
				{
					<div class="s6 m4 l12">
						<a href="@badge.Url" target="@badge.GetTarget()">
							@badge.Content.Render()
						</a>
					</div>
				}
			</div>
		</article>
	</div>
	<div class="grid center-align">
		<div class="s6">
			@CopyrightNotice
		</div>
		<div class="s6">
			<a href="@LicenseUrl">
				@License
			</a>
		</div>
	</div>
</footer>

@code {

	private string License => Binacle.Net.Api.Metadata.License;
	private string LicenseUrl => $"{@Binacle.Net.Api.Metadata.GitHub}/blob/main/LICENSE";

	private string CopyrightNotice => $"© 2023-{DateTime.Now.Year} Chris Mavrommatis / Binacle.Net. All Rights Reserved";

	private Dictionary<string, List<string>> ArticleContents =>
		new Dictionary<string, List<string>>()
		{
			{
				"About Binacle.Net",
				[
					Binacle.Net.Api.Metadata.Description
				]
			},
			{
				"Help Binacle.Net",
				[
					"Its an open source project that aims to remain open source and free forever.",
					$"Help it grow, visit the Help it grow, visit the <a href=\"{Binacle.Net.Api.Metadata.GitHub}\">Github</a> and give it a star."
				]
			}
		};

	private List<Models.LinkWithContent> Badges()
	{
		var version = Environment.GetEnvironmentVariable("BINACLE_VERSION");
		var githubStarsImage = new Image("https://img.shields.io/github/stars/chrismavrommatis/binacle.net?logoSize=auto", "GitHub Repo stars");
		var binacleVersionImage = new Image($"https://img.shields.io/badge/Current_Version-{version}-ff9100?labelColor=448aff", "Binacle.Net Version");
		var dockerImageVersionImage = new Image("https://img.shields.io/docker/v/binacle/binacle-net?sort=semver&logo=docker&logoSize=auto&labelColor=white&color=blue", "Docker Image Version");
		var dotNetVersionImage = new Image($"https://img.shields.io/badge/_-9-512BD4?logo=dotnet&logoSize=auto&labelColor=512BD4", "dotNet Version");
		var swaggerUiImage = new Image("https://img.shields.io/badge/Visit_Swagger_UI-85EA2D?logo=swagger&logoSize=auto&labelColor=black", "Swagger UI");
		var postmanCollectionImage = new Image("https://img.shields.io/badge/Get_Postman_Collection-FF6C37?logo=postman&logoSize=auto&labelColor=wh", "Postman Collection");
		
		return
		[
			new("GitHub Repo stars", Binacle.Net.Api.Metadata.GitHub, githubStarsImage, Models.Target.Blank),
			new("Binacle.Net Version", $"{Binacle.Net.Api.Metadata.GitHub}/releases/tag/{version}", binacleVersionImage, Models.Target.Blank),
			new("Docker Image Version", Binacle.Net.Api.Metadata.Dockerhub, dockerImageVersionImage, Models.Target.Blank),
			new("dotNet Version", "https://dotnet.microsoft.com/en-us/download/dotnet/9.0", dotNetVersionImage, Models.Target.Blank),
			new("Swagger UI", "/swagger", swaggerUiImage),
			new("Postman Collection", Binacle.Net.Api.Metadata.Postman, postmanCollectionImage, Models.Target.Blank)
		];
	}

}