

<header class="fixed top responsive max primary">
	<nav>
		<div class="s">
			<Logo class="large"/>
		</div>

		<h5 class="max center-align">@Title</h5>
		@foreach (var link in Links())
		{
			<a href="@link.Url" title="@link.Title" target="@link.GetTarget()">
				@link.Content.Render()
			</a>
		}
		
		<ThemeButton />
	</nav>
</header>

@code{
	private string Title { get; set; } = "Binacle.Net";
	
	private List<Models.LinkWithContent> Links()
	{
		var githubImage = new Image("assets/github/github-mark-white.png", "Github", height: 20);
		// githubImage.Attributes.Add("data-theme", "src");
		// githubImage.Attributes.Add("data-darktheme", "assets/github/github-mark-white.png");
		// githubImage.Attributes.Add("data-lighttheme", "assets/github/github-mark.png");

		var dockerImage = new Image("assets/docker/docker-mark-white.png", "Docker", height: 20);
		// dockerImage.Attributes.Add("data-theme", "src");
		// dockerImage.Attributes.Add("data-darktheme", "assets/docker/docker-mark-white.png");
		// dockerImage.Attributes.Add("data-lighttheme", "assets/docker/docker-mark-blue.png");

		return
		[
			new("Check out my GitHub", Binacle.Net.Api.Metadata.GitHub, githubImage, Models.Target.Blank),
			new("Visit Binacle.Net on Dockerhub", Binacle.Net.Api.Metadata.Dockerhub, dockerImage, Models.Target.Blank)
		];
	}

}