@namespace ChrisMavrommatis.Blazor.Materialize.Components

@typeparam TValue

@using Microsoft.AspNetCore.Components.Forms
@inherits  MaterializeSelect<TValue>

@{
	var classes = $"browser-default {_classes}";
}

<label for="@Id">@Label</label>
<InputSelect ValueChanged="ValueChanged" Value="Value" ValueExpression="ValueExpression" id="@Id" class="@classes" @attributes=_attributes>
	@foreach (var (key, value) in Options)
	{
		if (Value.Equals(key))
		{
			<option value="@key" selected>@value</option>
		}
		else
		{
			<option value="@key">@value</option>
		}
	}
</InputSelect>