@namespace Binacle.Net.Api.UIModule.Components.Features
@rendermode RenderMode.InteractiveServer

<div class="card-content indigo lighten-2 white-text">
    <div class="card-title">Results</div>
    <ul class="collection">
        @foreach (var result in this.State.Results)
        {
            var isFullyPacked = result.Result == Models.PackResultType.FullyPacked;
            var percentage = result.PackedBinVolumePercentage;
            var colorClass = this.GetColorClass(result);
            <li class="collection-item avatar @(this.IsSelected(result) ? "active" : string.Empty)">
                <div class="row">
                    <div class="col s8">
                        <i class="material-symbols-outlined large circle @colorClass">package_2</i>
                        <span class="title">Bin: @result.Bin.ID</span>

                        <div class="progress">
                            <div class="determinate @colorClass" style="width: @percentage%" />
                        </div>
                        <span>Packed Bin Volume: @result.PackedBinVolumePercentage% </span>
                        @if (!isFullyPacked)
                        {
                            <span>Packed Items Volume: @result.PackedItemsVolumePercentage% </span>
                        }
                    </div>
                    <div class="col s4">
                        @result.Result.ToString()
                    </div>
                    <Button type="button" class="text secondary-content" @onclick="(() => this.SelectResultAsync(result))">
                        <i class="material-symbols-outlined">publish</i>
                    </Button>
                </div>

            </li>
        }
    </ul>
</div>
